:root {
    --main-text: #252222;
    --main-link: #00A2E8;
    --main-title: #0377C0;
    --main-background: #FCF9FD;
    --main-line: color-mix(in srgb, var(--main-title) 50%, var(--main-text));
    
    --button-clicked: color-mix(in srgb, black 20%, var(--main-link));;
    --special-button-clicked: color-mix(in srgb, black 20%, var(--special-link));;
    --product-offer: white;
    --special-link: #FF6B00;
    --dim-text: color-mix(in srgb, var(--main-background) 40%, var(--main-text));
}

body {
    font-family: "Average Sans", sans-serif;
    color: var(--main-text);
    font-size: 18px;

    padding: 0px !important;
    margin: 0px !important;
}

main {
    background-image: url('../../img/background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#header, #footer, #real-header {
    font-family: "Josefin Sans", sans-serif !important;
    background-color: var(--main-background) !important;
}

h1, h2, h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    /* margin-inline-start: auto;
    margin-inline-end: auto; */
} h1 {
    font-size: 40px;
    font-weight: 500;
    color: var(--main-title);
} :is(#header, #footer) h1{
    color: var(--main-text);
} h2 {
    font-size: 30px;
    /* h3 - для ссылок */
    color: var(--main-link);
} /* исключение */ #delivery h2 {
    margin-bottom: 30px;
    font-weight: 300;
    color: var(--main-text) !important;
}h3 {
    font-size: 24px;
    font-weight: 300;
}

a {
    color: var(--main-link);
    text-decoration:none;
} 

button {
    cursor: pointer;
} button:active {
    transition: 0.1s;
} 

/* header */

:is(#header, #footer) .up-panel .flex-standart > *{
    max-height: 80px;
} 
/* общая контструкция для блоков */
#header .up-panel .flex-standart > :not(.logo, div), #header .up-panel .flex-standart > div > * {
    padding-top: 5px;
    padding-bottom: 10px;
}

/* появляется лишний отступ
.up-panel:after {
    content: '';
    display: block;
    background-color: var(--main-line);

    height: 2px;
    width: 100%;
} */

#navigation .flex-standart > :not(.logo, div), #navigation .flex-standart > div > * {
    padding-top: 20px;
    padding-bottom: 30px;
}
#help .flex-standart > :not(.logo, div), #help .flex-standart > div > * {
    padding-top: 10px;
    padding-bottom: 20px;
} #help .flex-standart > *{
    max-height: 85px;
}
#search {
    width: 100%;
} #search fieldset {
    border-radius: 20px;
    border: 2px solid var(--main-link);
} #search input {
    height: 30px;
    border: 0;
    font-size: 20px;
    font-family: "Average Sans", sans-serif;
    background-color: var(--main-background);
    width: 100%
}

/* main-classes */

.plr-standart {
    padding-left: 30px;
    padding-right: 30px;
} .flex-standart {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
} .flex-img-text {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
} .flex-start {
    display: flex;
    flex-wrap: nowrap;
    /* !important для search панели */
    justify-content: start !important;
    align-items: center;
} .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
} .flex-product-offer {
    display: flex;
    flex-direction: column;
    height: 100% !important;
} 

.g-5 {
    gap: 5px !important;
} .g-10 {
    gap: 10px !important;
} .g-15 {
    gap: 15px !important;
} .g-20 {
    gap: 20px !important;
}

/* вспомогательные классы */
.align-up {
    align-items: start !important;
} .delete-padding {
    padding: 0px !important;
} .hidden {
    overflow: hidden;
} .press-to-end {
    justify-content: end !important;
}

/*это место для миксина в дальнейшем*/
.standart-line, .big-line, .dim-line {
    content: '';
    display: block;
    width: 100%;
} .standart-line {
    background-color: var(--main-line);
    height: 2px;
}.big-line {
    background-color: var(--main-title);
    height: 5px;
} .dim-line {
    background-color: var(--dim-text);
    height: 1px;
}

.icon-small {
    height: 30px;
}.icon-standart {
    height: 47px;
} .product-standart {
    height: 184px;
} .special-standart {
    height: 200px;
}

.dim {
    color: var(--dim-text) !important;
} .small-text {
    font-size: 14px;
} .big-text {
    font-size: 20px
}

.bordered {
    border: 2px solid var(--main-title);
} .underlined {
    text-decoration: underline !important;
}

/* main */

main article:first-child {
    padding-top: 100px !important;
} main article:last-child {
    padding-bottom: 100px !important;
} main > * {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
} main h1:not(.price) {
    padding-bottom: 30px; 
}
.product-block, .text-block {
    background-color: var(--main-background);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
} .product-block {
    padding-left: 70px;
    padding-right: 70px;
} .text-block {
    padding-left: 30px;
    padding-right: 30px;
} .text-block, .product-block{
    text-align: start;
    position: relative;
} :is(.product-block, .text-block) > h1 {
    text-align: center !important;
} 
.product, .offer {
    background-color: var(--product-offer);
    border: 2px solid var(--main-title);
    border-radius: 10px;
    padding: 8px 8px 15px;
    position: relative;
} 

.left-arrow, .right-arrow {
    height: 50px;
    width: 50px;

    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
} .left-arrow {
    left: 10px;
    display: none;
} .right-arrow {
    right: 10px;
}
.buy-button, .check-button {
    height: 30px;
    width: 100%;
    font-size: 20px !important;
    color: var(--product-offer);
    border-radius: 10px;
    border: 0px;
}
.do-favourite {
    position: absolute;
    top: 8px;
    right: 8px;
}
.name {
    margin-top: -5px;
}

#popular .product {
    height: 500px;
    width: 200px;
} #popular .buy-button {
    background-color: var(--main-link);
} 
.price-container {
    display: flex;
    width: 100% !important;
} .price-tag {
    padding-top: 1.5em !important;
}.for-price {
    width: 100% !important;
    text-align: center !important;
} .buy-button:active {
    background-color: var(--button-clicked) !important;
}

#special .offer {
    height: 350px;
    width: 370px;
} #special .check-button {
    background-color: var(--special-link);
} .check-button:active {
    background-color: var(--special-button-clicked) !important;
}

.float-image:not(.not-important) {
    border: 2px solid var(--main-title);
    /* не работает, если не указывать ширину, появляется отступ снизу */
    /* width: auto;
    padding: 0 !important; */
} .clear {
    clear: both;
} .clear-margin {
    margin-bottom: 30px;
} 
#about .float-text:has(+.float-image) > h3{
    position: relative;
    width: 420px;
}

#delivery :is(.up-panel, .down-panel) > *:first-child {
    float:left;
    margin-left: 0 !important;
    margin-right: 30px !important;
} #delivery :is(.up-panel, .down-panel) > *:last-child {
    float:right;
    margin-right: 0 !important;
} #delivery ul > li {
    margin-top: 10px;
}

#about .up-panel > *:first-child {
    margin-right: 30px !important;
    margin-left: 0 !important;
    float:left;
} #about .up-panel > *:last-child {
    float:right;
    margin-right: 0 !important;
}

/* footer */

#footer .up-panel {
    padding-top: 30px;
    padding-bottom: 40px;
} #footer .down-panel {
    padding-top: 30px;
    padding-bottom: 30px;
} #footer .down-panel .chapter{
    gap: 30px;
    margin: 0;
} #footer .down-panel .chapter ul {
    margin-right: auto;
    margin-left: auto;
} #footer .down-panel .chapter ul li::marker {
    font-size: 3em;
    color: var(--main-link)
}

#org-inf {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
/* нужно по тз, но не нужно сайту */
#other-sites {
    display: none;
}
